{
  "name": "@tree-sorter-ts/tree-sorter-ts-{{OS}}-{{ARCH}}",
  "version": "{{VERSION}}",
  "description": "{{OS}} {{ARCH}} binary for tree-sorter-ts",
  "repository": {
    "type": "git",
    "url": "git+https://github.com/evanrichards/tree-sorter-ts.git"
  },
  "license": "MIT",
  "author": "Evan Richards",
  "main": "tree-sorter-ts{{EXT}}",
  "files": [
    "tree-sorter-ts{{EXT}}"
  ],
  "os": [
    "{{NPM_OS}}"
  ],
  "cpu": [
    "{{NPM_ARCH}}"
  ],
  "publishConfig": {
    "access": "public"
  }
}